@mixin gagalin() {
	font-family: 'Gagalin-Regula', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'Lifehack-Medium', Helvetica, sans-serif;
}

//Breackpoints

@mixin tablets {
	@media (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media (max-width: $phones) {
		@content;
	}
}