
.arrow-scroll {
    border: none;
    background-color: transparent;
    background: center center no-repeat;
    height: 20px;
    width: 30px;
    align-self: center;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
}

.arrow-scroll-svg {
    height: 20px;
    width: 30px;
    fill: white;

    &:hover {
        opacity: 0.5;
    }
}
