.best {
    background: url("../images/bg/best-bg.jpg") center center / cover no-repeat;
}

.best__content {
    text-align: center;
}

.best__list {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.best__item {
    flex: 1;
    flex-direction: column;
    align-items: center;
    display: flex;

    @include phones {
        flex-direction: row;
        margin-bottom: 40px;
    }
}

.best__picture {
    margin-bottom: 25px;
    min-height: 90px;
    display: flex;
}

.best__svg {
    width: 100px;
    height: 90px;

    &--meat {
        fill: #e35028;
    }
    
    &--hand {
        fill: #f9b43b;
    }

    &--natural {
        fill: #8bc03f;
    }
}

.best__desc {
    text-align: center;

    @include phones {
        text-align: left;
        margin-left: 30px;
    }
}