.btn {
    background-color: $orange;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    transition: .3s;

    &:hover {
        background-color: $red;
        transition: .3s;
    }
    
    &--black {
        background: $black;
    }

    &--hover-block {
        @include phones {
            display: none;
        }
    }

    &--phones-size {
        display: none;

        @include phones {
            display: initial;
        }
    }
}

.btn-reset {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.8125rem;
    border-radius: 5px;
    padding: 0.625rem 1rem;
    transition: .3s;
    outline: none;

    &:hover {
        background-color: $grey;
        transition: .3s;        
    }
}

// Burgers menu

.scroll-btn {
    position: absolute;
    top: 50%;
    z-index: 99;
    padding: 90px 20px;
    transform: translateY(-50%);

    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &--prev {
        left: -30px;;
    }

    &--next {
        right: -30px;
    }
}

.arrow-scroll-svg {
    &--left {
        transform: rotate(90deg);
    }
    &--right {
        transform: rotate(-90deg);
    }
}