.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    text-transform: uppercase;
}

.header__buttons {
    display: flex;
    align-items: center;
}

