.intro {
    background: url("../images/bg/intro-bg.jpg") center center / cover no-repeat;
}

.intro__container {
    display: flex;
    flex: .75;
}

.intro__content {
    display: flex;
    align-items: center;
}

.intro__text {
    padding-top: 100px;
    margin-left: 13px;
}

h1.title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    color: $yellow;
}

.intro__desc {
    font-family: "Lifehack-Medium";
    font-size: 65px;
    color: #fff;
    line-height: 1;
}

