.nav-points {
    position: fixed;
    top: 12%;
    right: 4%;
    z-index: 999;

    @include tablets {
        display: none;
    }
}

.point__item {
    padding-bottom: 20px;
}

.point__link {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    display: block;

    &.is-active:after {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        border: 1px solid #fff;
        border-radius: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}