.nav {
    margin-right: 15px;

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item:first-child .nav__link:before {
      display: none;
}

.nav__link {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 13px;

    &:hover {
        text-decoration: #fff underline;
    }

    &::before {
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        background: #fff;
        border-radius: 50%;
        margin: 0 15px;
    }
}