.team {
    background: url("../images/bg/team-bg.jpg") center center / cover no-repeat;
    position: relative;
}

.team__section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: rgba(47, 50, 52, 0.93);
    padding: 5% 2% 0 7%;

    @include tablets {
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.team__acco {
    @include tablets {
        text-align: center;
        margin-left: -10px;
    }
}

.team__acco-trigger {
    font-family: "Gagalin-Regular";
    font-size: 14px;
    color: white;
    transition: 0.3s;

    &:hover {
        color: $yellow;
        transition: 0.3s;
    }

    &:before {
     content: "";
     border: 5px solid transparent;
     border-top-color: $yellow;
     display: inline-block;
     vertical-align: middle;
     margin-right: 10px;
    }

    @include tablets {
        font-size: 24px;
    }
}

.team__acco-item {
    margin-bottom: 10px;

    &--active {
        .team__acco-content {
            display: initial;
        }
        .team__acco-trigger {
            color: $yellow;

            &:before {
                transform: rotate(180deg);
                // vertical-align: unset;
            }
        }
    }
}

.team__acco-photo {
    height: 100px;
    width: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

    @include tablets {
        margin-bottom: 10px;
    }
}

.team__acco-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    height: 0;
    overflow: hidden;

    &--checked {
        height: 130px;
    }

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--checked {
            height: 190px;
        }
    }
}

.team__acco-desc {
    width: 50%;
    margin-left: 20px;

    @include tablets {
        width: 75%;
        margin-left: 0;
    }
}