p.text {
    font-family: "Ubuntu-Light";
    font-size: 14px;
    line-height: 1.8;

    &--white-margin-bottom {
        color: white;
        margin-bottom: 15px;
        
        @include tablets {
            line-height: 1.6;
            margin-bottom: 5px;
        }

        @include phones {
            display: none;
        }
    }

    &--white {
        color: white;
    }
}

