h1.title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    color: $yellow;

    &--black {
        color: $black;
    }
}

.best__title {
    font-family: "Lifehack-Medium";
    font-size: 24px;
    margin-bottom: 12px;
}