.intro__title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    color: $yellow;
}

.best__title {
    font-family: "Lifehack-Medium";
    font-size: 24px;
    margin-bottom: 12px;
}

.reviews__item-title {
    font-family: "Gagalin-Regular";
    font-size: 14px;
    margin-bottom: 20px;
}

.best__content-title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    color: $black;
}