h1.title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    color: $yellow;

    &--best {
        color: $black;
        margin-bottom: 35px;
    }

    &--team {
        margin-bottom: 28px;
    }

    &--menu {
        color: white;
        position: absolute;
        top: 12%;
        left: 10%;

        @include tablets {
            left: 5%;
        }
    }

    &--form {
        text-align: center;
        margin-bottom: 2.1875rem;
    }

    @include tablets {
        text-align: center;
    }
}

h4.title {
    font-family: "Lifehack-Medium";
    font-size: 24px;
    margin-bottom: 12px;
}

h5.title {
    font-family: "Gagalin-Regular";
    font-size: 14px;
    margin-bottom: 20px;

    &--white {
        font-family: "Ubuntu-Bold";
        color: white;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    @include tablets {
        &--hover-block {
            text-align: center;
        }
    }

    @include phones {
        &--hover-block {
            text-align: center;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}
