.to-next-section {
    text-align: center;
    margin-bottom: 35px;
}

.to-next-section-btn {
    border: none;
    background-color: transparent;
    background: url(../images/svgicons/arrow-scroll.svg) center center no-repeat;
    height: 20px;
    width: 30px;
    cursor: pointer;
}