@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack/Lifehack-Medium.woff") format("woff");
  src: url("../fonts/Lifehack/Lifehack-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff");
  src: url("../fonts/Gagalin/Gagalin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

html,
body {
  height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #2f3234; }

.container {
  margin: 0 auto;
  width: 58.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .container--without-align {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 58.75rem;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 40.625rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.intro {
  background: url("../images/bg/intro-bg.jpg") center center/cover no-repeat; }

.intro__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.25rem; }

.intro__text {
  padding-top: 6.25rem;
  margin-left: 0.8125rem; }

.intro__desc {
  font-family: "Lifehack-Medium";
  font-size: 4.0625rem;
  color: #fff;
  line-height: 1; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.625rem; }

.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__item:last-child .nav__link:after {
  display: none; }

.nav__link {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem; }
  .nav__link:after {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 0.9375rem; }

.btn {
  background-color: #e45028;
  padding: 0.625rem 0.9375rem;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8125rem; }
  .btn--black {
    background: #2f3234; }

.to-next-section {
  border: none;
  background-color: transparent;
  background: url(../images/svgicons/arrow-scroll.svg) center center no-repeat;
  height: 1.25rem;
  width: 1.875rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 2.1875rem;
  cursor: pointer; }

.best {
  background: url("../images/bg/best-bg.jpg") center center/cover no-repeat; }

.best__content {
  text-align: center; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__picture-cont {
  margin-bottom: 1.5625rem;
  min-height: 5.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__desc {
  text-align: center; }

.points {
  position: fixed;
  top: 12%;
  right: 4%; }

.point__item {
  padding-bottom: 1.25rem; }

.point__link {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  display: block; }
  .point__link--active:after {
    content: "";
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

h1.title {
  font-family: "Gagalin-Regular";
  font-size: 4.5rem;
  color: #f9b43b; }
  h1.title--best {
    color: #2f3234;
    margin-bottom: 2.1875rem; }
  h1.title--team {
    margin-bottom: 1.75rem; }

h4.title {
  font-family: "Lifehack-Medium";
  font-size: 1.5rem;
  margin-bottom: 0.75rem; }

h5.title {
  font-family: "Gagalin-Regular";
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  h5.title--white {
    font-family: "Ubuntu-Bold";
    color: white;
    text-transform: capitalize;
    margin-bottom: 0.625rem; }

.reviews {
  background: black; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  background: center center / cover no-repeat; }
  .reviews__item:hover .reviews__hover-block {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.reviews__hover-block {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  text-align: left;
  padding: 3.125rem 1.25rem; }

p.text {
  font-family: "Ubuntu-Light";
  font-size: 0.875rem;
  line-height: 1.8; }
  p.text--white-margin-bottom {
    color: white;
    margin-bottom: 0.9375rem; }
  p.text--white {
    color: white; }

.team {
  background: url(../images/bg/team-bg.jpg) center center/cover no-repeat;
  position: relative; }

.team__section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 2% 0 7%; }

.team__acco-trigger {
  font-family: "Gagalin-Regular";
  font-size: 0.875rem;
  color: white; }
  .team__acco-trigger:before {
    content: "";
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem; }

.team__acco-item {
  margin-bottom: 1.875rem; }

.team__acco-photo {
  height: 6.25rem;
  width: 6.25rem;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.team__acco-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.25rem;
  margin-left: 1.25rem; }

.team__acco-desc {
  -webkit-box-flex: .45;
  -webkit-flex: .45;
      -ms-flex: .45;
          flex: .45;
  margin-left: 1.25rem; }
