@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack/Lifehack-Medium.woff") format("woff");
  src: url("../fonts/Lifehack/Lifehack-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff") format("woff");
  src: url("../fonts/Gagalin/Gagalin-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 1rem; }
  @media (max-width: 768px) {
    html {
      font-size: 0.875rem; } }
  @media (max-width: 480px) {
    html {
      font-size: 0.8125rem; } }

html,
body {
  height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #2f3234; }

.container {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .container--without-align {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 40.625rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.intro {
  background: url("../images/bg/intro-bg.jpg") center center/cover no-repeat; }

.intro__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.25rem; }
  @media (max-width: 768px) {
    .intro__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 2.1875rem; } }

.intro__desc {
  padding-top: 6.25rem;
  margin-left: 0.8125rem; }
  @media (max-width: 768px) {
    .intro__desc {
      padding: 0;
      margin: 0;
      text-align: center;
      width: 80%; } }

.intro__text {
  font-family: "Lifehack-Medium";
  font-size: 4.0625rem;
  color: #fff;
  line-height: 1; }
  @media (max-width: 480px) {
    .intro__text {
      font-size: 2.625rem; } }

.intro__burger__img {
  max-width: 100%;
  max-height: 100%; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.625rem; }

.header__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .header__buttons {
      margin-right: 4.375rem; } }

.logo__link {
  display: block;
  width: 5.625rem;
  height: 4.6875rem; }

.logo__img {
  max-width: 100%; }

.nav {
  margin-right: 0.9375rem; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav__item:first-child .nav__link:before {
  display: none; }

.nav__link {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem; }
  .nav__link:hover {
    -webkit-text-decoration: #fff underline;
            text-decoration: #fff underline; }
  .nav__link::before {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 0.9375rem; }

.btn {
  background-color: #e35028;
  padding: 0.625rem 0.9375rem;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn:hover {
    background-color: #ce401a;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .btn--black {
    background: #2f3234; }
  @media (max-width: 480px) {
    .btn--hover-block {
      display: none; } }
  .btn--phones-size {
    display: none; }
    @media (max-width: 480px) {
      .btn--phones-size {
        display: initial; } }

.btn-reset {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.8125rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0.625rem 1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: none; }
  .btn-reset:hover {
    background-color: #2f3234;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.scroll-btn {
  background: transparent;
  border: none;
  cursor: pointer; }

.arrow-scroll {
  border: none;
  background-color: transparent;
  background: center center no-repeat;
  height: 1.25rem;
  width: 1.875rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 1.875rem;
  cursor: pointer; }

.arrow-scroll-svg {
  height: 1.25rem;
  width: 1.875rem;
  fill: white; }

.best {
  background: url("../images/bg/best-bg.jpg") center center/cover no-repeat; }

.best__content {
  text-align: center; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.best__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-bottom: 2.5rem; } }

.best__picture {
  margin-bottom: 1.5625rem;
  min-height: 5.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__svg {
  width: 6.25rem;
  height: 5.625rem; }
  .best__svg--meat {
    fill: #e35028; }
  .best__svg--hand {
    fill: #f9b43b; }
  .best__svg--natural {
    fill: #8bc03f; }

.best__desc {
  text-align: center; }
  @media (max-width: 480px) {
    .best__desc {
      text-align: left;
      margin-left: 1.875rem; } }

.nav-points {
  position: fixed;
  top: 12%;
  right: 4%;
  z-index: 999; }
  @media (max-width: 768px) {
    .nav-points {
      display: none; } }

.point__item {
  padding-bottom: 1.25rem; }

.point__link {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  display: block; }
  .point__link--active:after {
    content: "";
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

h2.title {
  font-family: "Gagalin-Regular";
  font-size: 4.5rem;
  color: #f9b43b; }
  @media (max-width: 480px) {
    h2.title {
      font-size: 3.125rem; } }
  h2.title--best {
    color: #2f3234;
    margin-bottom: 2.1875rem; }
  h2.title--burgers {
    color: white;
    line-height: .9;
    margin-bottom: 2.1875rem; }
  h2.title--team {
    margin-bottom: 1.75rem; }
  h2.title--menu {
    color: white;
    position: absolute;
    top: 12%;
    left: 10%; }
    @media (max-width: 768px) {
      h2.title--menu {
        left: 5%; } }
  h2.title--form {
    text-align: center;
    margin-bottom: 2.1875rem; }
  @media (max-width: 768px) {
    h2.title {
      text-align: center; } }

h4.title {
  font-family: "Lifehack-Medium";
  font-size: 1.5rem;
  margin-bottom: 0.75rem; }

h5.title {
  font-family: "Gagalin-Regular";
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  h5.title--white {
    font-family: "Ubuntu-Bold";
    color: white;
    text-transform: capitalize;
    margin-bottom: 0.625rem; }
  @media (max-width: 768px) {
    h5.title--hover-block {
      text-align: center;
      margin-bottom: 5px; } }
  @media (max-width: 480px) {
    h5.title--hover-block {
      text-align: center;
      font-size: 1.375rem;
      margin-bottom: 1.25rem; } }

.reviews {
  background: black; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
  background: center center / cover no-repeat; }
  .reviews__item:hover .reviews__hover-block {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  @media (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__hover-block {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  text-align: left;
  padding: 15% 6% 0 6%; }
  @media (max-width: 768px) {
    .reviews__hover-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 2% 6% 2% 6%;
      text-align: center; } }
  @media (max-width: 480px) {
    .reviews__hover-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0; } }

p.text {
  font-family: "Ubuntu-Light";
  font-size: 0.875rem;
  line-height: 1.8; }
  p.text--white-margin-bottom {
    color: white;
    margin-bottom: 0.9375rem; }
    @media (max-width: 768px) {
      p.text--white-margin-bottom {
        line-height: 1.6;
        margin-bottom: 5px; } }
    @media (max-width: 480px) {
      p.text--white-margin-bottom {
        display: none; } }
  p.text--white {
    color: white; }

.team {
  background: url("../images/bg/team-bg.jpg") center center/cover no-repeat;
  position: relative; }

.team__section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding: 5% 2% 0 7%; }
  @media (max-width: 768px) {
    .team__section {
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (max-width: 768px) {
  .team__acco {
    text-align: center;
    margin-left: -0.625rem; } }

.team__acco-trigger {
  font-family: "Gagalin-Regular";
  font-size: 0.875rem;
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .team__acco-trigger:hover {
    color: #f9b43b;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .team__acco-trigger:before {
    content: "";
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem; }
  @media (max-width: 768px) {
    .team__acco-trigger {
      font-size: 1.5rem; } }

.team__acco-item {
  margin-bottom: 0.625rem; }
  .team__acco-item--active {
    margin-bottom: 0; }
    .team__acco-item--active .team__acco-content {
      height: 8.125rem; }
      @media (max-width: 768px) {
        .team__acco-item--active .team__acco-content {
          height: 14.375rem;
          margin: 0;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .team__acco-item--active .team__acco-trigger {
      color: #f9b43b; }
      .team__acco-item--active .team__acco-trigger:before {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }

.team__acco-photo {
  height: 6.25rem;
  width: 6.25rem;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media (max-width: 768px) {
    .team__acco-photo {
      margin-bottom: 0.625rem; } }

.team__acco-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  height: 0;
  overflow: hidden; }
  @media (max-width: 768px) {
    .team__acco-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.team__acco-desc {
  width: 50%;
  margin-left: 1.25rem; }
  @media (max-width: 768px) {
    .team__acco-desc {
      width: 75%;
      margin-left: 0; } }

.menu {
  background: url("../images/bg/menu-bg.jpg") center center/cover no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu__acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 99; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item--active .menu__content {
    width: 33rem; }
    @media (max-width: 768px) {
      .menu__item--active .menu__content {
        width: 100%; } }
  .menu__item--active .menu__title {
    color: #f9b43b; }

.menu__link {
  background: center center / cover no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 5rem; }

.menu__title {
  font-size: 2.1875rem;
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: white;
  white-space: nowrap;
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-family: "Gagalin-Regular";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .menu__title:hover {
    color: #f9b43b;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.menu__content {
  width: 0;
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden; }

.menu__text {
  padding: 12% 6% 0 6%; }

.form {
  background: url("../images/bg/order-bg.jpg") center center/cover no-repeat; }

.form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .form-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.form__col {
  width: 49%; }
  @media (max-width: 768px) {
    .form__col {
      width: 70%; } }
  @media (max-width: 480px) {
    .form__col {
      width: 100%; } }

.form__row {
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  border: 1px solid transparent;
  font-size: 0.875rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0.4375rem 0.9375rem;
  width: 100%; }

.form__block-title {
  color: white;
  display: block;
  margin-bottom: 0.4375rem;
  font-weight: 300;
  font-size: 0.875rem; }

.form__input--textarea {
  resize: none; }

@media (max-width: 480px) {
  .form__buttons {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.form__radio, .form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem; }

.form__radio-input, .form__checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden; }

.form__radio-fake {
  position: relative;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white; }
  .form__radio-fake:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #e35028; }

.form__radio-input:checked + .form__radio-fake::before {
  width: 0.5rem;
  height: 0.5rem; }

.form__block-title--buttons {
  margin-bottom: 0;
  margin-left: 0.625rem; }

.form__checkbox-fake {
  width: 1rem;
  height: 1rem;
  background-color: white;
  position: relative; }

.form__checkbox-input:checked + .form__checkbox-fake::before {
  content: '';
  background: url(../images/svgicons/check.svg) 50% no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.footer {
  background: url("../images/bg/footer-bg.jpg") center center/cover no-repeat;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.625rem 0 0.625rem 0; }
  @media (max-width: 480px) {
    .footer__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer__cont {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 480px) {
    .footer__cont {
      width: 100%;
      text-align: center;
      margin-bottom: 0.625rem; } }

.footer__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 480px) {
    .footer__socials {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.socials__svg {
  fill: #626364;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__svg:hover {
    fill: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.footer__address {
  color: white;
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  margin-bottom: 3px; }

.footer__tel-number {
  color: #e35028;
  font-family: 'Ubuntu-Bold';
  font-size: 0.875rem;
  padding-left: 5px; }

.footer__tel-svg {
  width: 0.75rem;
  height: 0.6875rem;
  fill: #e35028; }

.socials__item {
  padding-left: 1.25rem; }
  .socials__item:first-child {
    padding-left: 0; }

.map {
  position: relative; }

.map__block {
  background: url("../images/bg/map-bg.jpg") center center/cover no-repeat;
  width: 100%;
  height: 100%; }

.nav-mobile {
  position: fixed;
  top: -62.4375rem;
  left: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-mobile__menu {
    display: none; }
  .nav-mobile .logo {
    display: none; }
  .nav-mobile--active {
    background-color: rgba(47, 50, 52, 0.93);
    top: 0;
    bottom: 0; }
    .nav-mobile--active .logo {
      position: fixed;
      top: 0.625rem;
      left: 1.0625rem;
      z-index: 99;
      display: block; }
    .nav-mobile--active .nav-mobile__menu {
      display: block; }
    .nav-mobile--active .nav-mobile__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .nav-mobile--active .nav-mobile__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .nav-mobile--active .nav-mobile__item::after {
        content: "";
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: white;
        margin: 1.25rem 0; }
      .nav-mobile--active .nav-mobile__item:last-child:after {
        display: none; }
    .nav-mobile--active .nav-mobile__link {
      color: white;
      font-size: 1.375rem;
      text-transform: uppercase; }

.nav-trigger {
  position: fixed;
  display: none;
  top: 2.3125rem;
  right: 1.5625rem;
  z-index: 999; }
  @media (max-width: 768px) {
    .nav-trigger {
      display: block; } }
  .nav-trigger__link {
    display: block;
    width: 25Px;
    height: 25Px; }
  .nav-trigger__badge, .nav-trigger__badge::before, .nav-trigger__badge::after {
    display: block;
    height: 4Px;
    width: 25Px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff; }
  .nav-trigger__badge::before, .nav-trigger__badge::after {
    content: "";
    position: absolute; }
  .nav-trigger__badge:before {
    top: 9Px; }
  .nav-trigger__badge:after {
    top: 18Px; }
  .nav-trigger.is-active .nav-trigger__badge {
    background-color: transparent; }
    .nav-trigger.is-active .nav-trigger__badge::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav-trigger.is-active .nav-trigger__badge::after {
      -webkit-transform: translateY(-9Px) rotate(-45deg);
          -ms-transform: translateY(-9Px) rotate(-45deg);
              transform: translateY(-9Px) rotate(-45deg); }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  position: relative; }

.burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.9375rem;
  position: relative; }
  @media (max-width: 768px) {
    .burger {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.burger__photo {
  padding: 5rem 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .burger__photo-img {
    max-width: 100%; }
    @media (max-width: 768px) {
      .burger__photo-img {
        max-width: 80%;
        margin-bottom: 1.25rem; } }
  @media (max-width: 768px) {
    .burger__photo {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto;
      padding-bottom: 0;
      text-align: center; } }

.burger__desc {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.625rem; }
  @media (max-width: 768px) {
    .burger__desc {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto;
      text-align: center;
      max-width: 75%; } }

.burger__text {
  font-size: 0.875rem;
  line-height: 1.8;
  color: white; }

.burger__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (max-width: 768px) {
    .burger__order {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.burger__price {
  font-family: "Gagalin-Regular";
  color: #e35028;
  margin-right: 2.5rem; }
  .burger__price-num {
    font-size: 3.875rem; }
  .burger__price-text {
    font-size: 2rem; }

.scroll-btn {
  position: absolute;
  top: 50%;
  z-index: 99;
  padding: 5.625rem 1.25rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .scroll-btn--prev {
    left: -1.875rem; }
  .scroll-btn--next {
    right: -1.875rem; }

.arrow-scroll-svg--left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.arrow-scroll-svg--right {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.burger__budge {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .burger__budge--ingred {
    top: 0;
    padding: 0.875rem 1.4375rem;
    background-color: #eb8c38;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-transform: uppercase;
    font-family: "Gagalin-Regular";
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .burger__budge--ingred:hover {
      background-color: #e45028;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    @media (max-width: 768px) {
      .burger__budge--ingred {
        left: 20%;
        top: 0;
        font-size: 0.875rem; } }
    @media (max-width: 480px) {
      .burger__budge--ingred {
        left: 7%;
        top: -4%; } }
  .burger__budge--calor {
    bottom: 2.1875rem; }
    @media (max-width: 768px) {
      .burger__budge--calor {
        right: 23%;
        top: 0;
        bottom: 0; } }
    @media (max-width: 480px) {
      .burger__budge--calor {
        right: 8%;
        top: -4%; } }
  .burger__budge-text {
    color: white;
    font-family: "Gagalin-Regular"; }
    .burger__budge-text--op {
      opacity: 0.5; }
    .burger__budge-text--num {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 1.25rem; }
      @media (max-width: 768px) {
        .burger__budge-text--num {
          top: 5%; } }

.burger__ingred-svg {
  width: 2.625rem;
  height: 2.625rem;
  fill: white; }

.burger__calor-svg {
  width: 3.75rem;
  height: 3.75rem;
  fill: rgba(255, 255, 255, 0.5); }
